/*General settings*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: arial,sans-serif;
	background-color: #fff;
	color: rgba(0,0,0,0.87);
	font-size: 14px;
}

/*-------Navbar Rules------*/
header {
    top: 0;
    background-color: #fff;
    width: 100%;
	text-align: right;
}

/* navbar ul rules */
.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	padding: 15px;
	padding-right: 30px;
}

/* navbar li*/
.navbar-item {
    list-style: none;
}
/* navbar anchors */
.navbar-item a {
    text-decoration: none;
    display: inline-block;
	color: rgba(0,0,0,0.87);
    text-transform: capitalize;
}
.navbar-item:not(:last-child) {
	margin-right: 15px;
  }
/* adding hover effect*/
.navbar-item a:hover{
    text-decoration: underline;
	cursor: pointer;
}
/* Profile button style*/
.profile {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: relative;
}
.profile a {
	width: 100%;
	height: 100%;
}
/* apps button style*/
.app {
	height: 30px;
	width: 30px;
	position: relative;
}

.app svg {
	width: 17px;
	height: 17px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	fill: rgba(0,0,0,0.87);
}
/*-------Main Rules------*/
main {
	text-align: center;
	margin-top: 30px;
	flex: 1;
}
.main-logo {
	padding-top: 109px;
}
.form-group {
	max-width: 584px;
	margin: 0 auto;
}
.search-div {
	position: relative;
	display: flex;
	align-items: center;
	height: 44px;
	width: 100%;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	padding: 5px 8px 0 16px;
}
.search-div:hover {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border-color: rgba(223, 225, 229, 0);
}
.form-logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -5px;
	margin-right: 7px;
}
.form-logo svg {
	height: 20px;
	width: 20px;
	fill: var(--color-gray-400);
}
.search-input {
	height: 100%;
	flex: 1;
}
.search-input input {
	border: none;
	width: 100%;
	height: 100%;
	font-size: 16px;
	margin-top: -3px;
	color: #101010;
}
.search-input input:focus {
	outline: none;
}
.form-mic {
	height: 100%;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -5px;
	margin-right: 7px;
}
.form-mic svg {
	height: 24px;
	width: 24px;
}
.submit-div {
	margin-top: 25px;
}
.submit-div button {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5F6368;
	font-family: Arial,sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.submit-div button:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
}
/*-------Footer Rules------*/
footer {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
    align-items: center;
	background-color: #f2f2f2;
}
.footer-list {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	padding: 15px;
	padding-right: 30px;	
}

.footer-item a {
	text-decoration: none;
    display: inline-block;
	color: #70757a;
    text-transform: capitalize;
}

.footer-item a:hover{
    text-decoration: underline;
	cursor: pointer;
}
.footer-item:not(:last-child) {
	margin-right: 15px;
}